services:
  health-checker:
    build: .
    container_name: health-checker
    ports:
      - "8080:8080"
    environment:
      - ENV=development
      - DATABASE_URL=postgres://postgres:root@postgres-hc:5432/health_checker?sslmode=disable
      - PORT=:8080
      - REDIS_URL=redis:6379
      - JWT_SECRET=your_jwt_secret_key
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
  postgres:
    image: postgres:alpine
    container_name: postgres-hc
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: health_checker
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5
